{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<br><br><br>
<form action="/obtener_csv" method="POST">
  <div class="container">
    <div class="input-group mb-3">
      <input name="nombre" type="text" class="form-control" placeholder="Nombre del archivo csv" autocomplete="off">
      <div class="input-group-append">
        <button type="submit" class="input-group-text" id="basic-addon2">Subir archivo</button>
      </div>
    </div>
  </div>
</form>
    
{% endblock %}
